@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: cat;
  src: url(./assets/fonts/CatsShow-R9G5A.ttf);
}

.heading{
  font-family: cat;
}

/* Bg  #D8D3C0   text #1D1D1B   res bg #D8D3C0    button #FF6A00    */


.dots {
  width: 72px;
  height: 17.3px;
  background: radial-gradient(circle closest-side at left 8.6px top 50%, #1d1d1b 90%, #0000),
    radial-gradient(circle closest-side, #1d1d1b 90%, #0000),
    radial-gradient(circle closest-side at right 8.6px top 50%, #1d1d1b 90%, #0000);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: dots-xm0185lg 0.8s infinite alternate;
}

@keyframes dots-xm0185lg {
  to {
    width: 28.8px;
    height: 34.6px;
  }
}